TELEGRAM_BOT_TOKEN=

#Generate with openssl rand -hex 32
MOODMIRROR_SALT=

# All team member chat IDs comma-separated
MOODMIRROR_MEMBERS=

# Manager's chat ID
MANAGER_TELEGRAM_ID=

# Scheduler timings in cron format
SCHEDULE_TUESDAY=
SCHEDULE_THURSDAY=
SCHEDULE_ALERTS=